.TableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.TableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.TableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.TableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.TableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.TableGenerator tr:hover td{
	
}
.TableGenerator tr:nth-child(odd){ background-color:#c9ebfc; }
.TableGenerator tr:nth-child(even)    { background-color:#ffffff; }.TableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:2px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.TableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #30c4ff 5%, #005791 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30c4ff), color-stop(1, #005791) );
	background:-moz-linear-gradient( center top, #30c4ff 5%, #005791 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#30c4ff", endColorstr="#005791");	background: -o-linear-gradient(top,#30c4ff,005791);

	background-color:#30c4ff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.TableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #30c4ff 5%, #005791 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30c4ff), color-stop(1, #005791) );
	background:-moz-linear-gradient( center top, #30c4ff 5%, #005791 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#30c4ff", endColorstr="#005791");	background: -o-linear-gradient(top,#30c4ff,005791);

	background-color:#30c4ff;
}
.TableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.TableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}